body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#ecom{

  display:flex;
  flex:wrap;
  height: 350px;
  width:100%;
  justify-content: center;
 
  margin-top: 100px;

}

#ecomelement{
  display:block;
  overflow:scroll;
  width: 500px;
  border: 1px solid black;
  padding: 10px;
  
  
}

#productname{
  font-weight: bold;
}


#ecomimg{
  height: 200px;
  width:250px;
}

#HomePage{
  position:fixed;
  width:100%;
  top:0;
}
header {
	background: #ffffff;
	/* -webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1); */
	/* box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1); */
  display: flex;
  
  padding: 15px;
  gap: 10px;
}
header input{
  margin-left: 600px;
  width: 300px;
  padding: 8px;
  height: 20px;
  font-size: large;
  border-radius: 10px;
}
.login-anchor{
  position:relative;
  top:10px;
  margin-left: 250px;
}

#headerdiv{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

}

/* .login-anchor{
  position:relative;
  
  text-decoration: none;
  align-self: flex-end; 
  margin-right: 10px;
  margin-bottom: 10px;
} */
.form-control{
  width: 300px;
  padding: 1.2rem;
}

.btn{
  background-color: aqua;
}
.btn:hover{
  box-shadow: 0px 0px 8px aqua;
  background-color: aqua;

}

/* .header__menu {
	padding: 30px 0 27px;
} */

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 27px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 2px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 15px;
	text-transform: uppercase;
	/* color: #111111; */
  color: white;
	font-weight: 500;
	display: block;
	padding: 2px 0;
	position: relative;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ca1515;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
/* header{
  display: flex;
  justify-content: center;
 
  width:100%;
  padding:10px;
  gap:10px;
  background-color: black;
} */

nav{
  display:flex;
  position:fixed;
  width:100%;
 
  gap:10px;
  padding: 10px;
  background-color: rgb(19, 16, 16);
}

a{
  text-decoration: none;
}



Link{
  text-decoration: none;
}





footer{
  position:relative;
  bottom:0;
  padding:20px;
  width:100%;
  text-align: center;
  background-color: black;
  color:aliceblue;
}

#Allproduct{
  display:flex;
  flex-wrap:wrap;
  height: 100%;
  width:100%;
  justify-content: center;
  gap:10px;
  margin-top:180px;

}

#ProductElement{
  display:block;
  
  overflow:scroll;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 10px;
  background-color: transparent;
}
